Repository bsonntag/stop-media-stream: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, sort-package-json, jest --findRelatedTests

2.0.0
  package-lock.json
  package.json
Due: sort-package-json

Fixes types export problem
  dist/index.d.js
  dist/index.d.ts
  package.json
  src/index.d.ts
  tsconfig.json
Due: eslint --fix, prettier --write, sort-package-json

2.1.0
  package-lock.json
  package.json
Due: sort-package-json

Fixes stopMediaStream input types
  src/index.ts
Due: none

2.2.0
  dist/index.d.ts
  package-lock.json
  package.json
Due: sort-package-json

Removes redundant files
  dist/index.d.js
  src/index.d.ts
Due: eslint --fix, prettier --write

2.2.1
  package-lock.json
  package.json
Due: sort-package-json

Fixes mediaStream typing
  dist/index.d.ts
  src/index.ts
Due: none

2.3.0
  package-lock.json
  package.json
Due: sort-package-json

feat: add typescript declaration file
  .eslintrc.js
  index.d.ts
  index.js
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --fix, prettier --write, sort-package-json

Path conditions:
  eslint --fix: any of: *.js
  prettier --write: any of: *.js
  sort-package-json: any of: package.json
  jest --findRelatedTests: any of: src/*.js
